body {
    background-color: #f5f5f5;
    /* letter-spacing: 0px; */
    letter-spacing: -0.022em;
    font-family: 'SF Pro JP', 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Hiragino Kaku Gothic Pro',
        'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

.button {
    color: #06c;
    cursor: pointer;
}
