.header {
    height: 44px;
    width: 100%;
    background-color: #1d1d1f;
    opacity: 0.9;
    text-align: center;
    margin: 0;
  }
  
  .header-list {
    display: flex;
    justify-content:space-between;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
  }
  
  .header-list-item {
    height: 44px;
    color: #C0C0C0;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    padding: 0 8px;
    line-height: 44px;
    width: auto;
  }
  
  .header-list-item .logo {
    color: #C0C0C0;
    font-size: 1rem;
  }